[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
psycopg-binary = "*"
django-cpf = "*"
python-dotenv = "*"
djangorestframework-simplejwt = "*"
whitenoise = "*"
corsheaders="*"


[dev-packages]

[requires]
python_version = "3.10"
